{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'style/about.css' %}">
		<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
		<title>Форма</title>
	</head>
	<body>
		<section class="section">
			<div class="container">
				<div class="head-container">
					<div class="nav">
						<div class="nav__logo">
							<img src="{% static 'img/logo.png' %}" alt="" width="100%">
						</div>
						<div class="nav__list">
							<ul class="list">
								<li><a href="/" class="link">Главная</a></li>
								<li><a href="/about" class="link">О сервисе</a></li>
								<li><a href="/contacts" class="link">Контакты</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section-content section">
			<div class="container">
				<div class="form">
					<div class="row">
						<div class="title">
							Система оформления документов
						</div>
						<div class="row__description">
							<p class="description">
								Сервис, позволяющий оформлять документы быстро и функционально, автоматически готовит и форматирует документ.<br><br></p><p class="description">Также облегчает бумажную волокиту преподавателям, используя при этом готовые шаблоны со скелетом рабочей программы и помогает им быстро подсчитывать количество учебных часов в таблицах.			
							</p>
						</div>
					</div>
					<img class="img-block" src="{% static 'img/about.png' %}" alt="" width="35.22%">
				</div>
			</div>
		</section>
		<script src="{% static 'scripts/script_main.js' %}"></script>
	</body>	
</html>