{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'style/contacts.css' %}">
		<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
		<title>Форма</title>
	</head>
	<body>
		<section class="section">
			<div class="container">
				<div class="head-container">
					<div class="nav">
						<div class="nav__logo">
							<img src="{% static 'img/logo.png' %}" alt="" width="100%">
						</div>
						<div class="nav__list">
							<ul class="list">
								<li><a href="/" class="link">Главная</a></li>
								<li><a href="/about" class="link">О сервисе</a></li>
								<li><a href="/contacts" class="link">Контакты</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section-content section">
			<div class="container">
				<div class="form">
                    <div class="title">
                        Контакты
                    </div>
                    <div class="row">
                        <div class="contact-card">
                            <img class="contact-img" src="{% static 'img/Group_3.png' %}">
                            <div class="contact-caption">
                                Email службы<br>
                                поддержки
                            </div>
                            <div class="contact-info">
                                aaaaa@mail.ru
                            </div>
                        </div>
                        <div class="contact-card">
                            <img class="contact-img" src="{% static 'img/Group_1.png' %}">
                            <div class="contact-caption">
                                Офис сервиса<br>
                                расположен
                            </div>                        
                        </div>
                        <div class="contact-card">
                            <img class="contact-img" src="{% static 'img/Group.png' %}">
                            <div class="contact-caption">
                                Телефон
                            </div>
                            <div class="contact-info">
                                +7(000)-000-00-00
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</section>
		<script src="{% static 'scripts/script_main.js' %}"></script>
	</body>	
</html>